<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     -------- ------------------------------- 1.3/6.0 MB 6.7 MB/s eta 0:00:01
     ----------------- ---------------------- 2.6/6.0 MB 6.6 MB/s eta 0:00:01
     -------------------------- ------------- 3.9/6.0 MB 6.5 MB/s eta 0:00:01
     ----------------------------------- ---- 5.2/6.0 MB 6.5 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 6.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1164357 sha256=c17f0a94465e3eacf372e6ece207985d32bf66b73ea58de0c89e31637660b456
  Stored in directory: C:\Users\dario\AppData\Local\Temp\pip-ephem-wheel-cache-zp72r6ny\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.43
    Uninstalling SQLAlchemy-2.0.43:
      Successfully uninstalled SQLAlchemy-2.0.43
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: ipython-sql in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (8.29.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)
Downloading sqlalchemy-2.0.44-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ------------------------ --------------- 1.3/2.1 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 6.7 MB/s eta 0:00:00
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.44
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: ipython-sql in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (8.29.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: decorator in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (3.0.48)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\dario\miniconda3\envs\spyder-env\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql SELECT DISTINCT "launch_site" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [11]:
%sql SELECT * FROM SPACEXTABLE WHERE "launch_site" LIKE "CCA%" LIMIT 5

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "LIMIT": syntax error
[SQL: SELECT * FROM SPACEXTABLE WHERE launch_site LIKE CCA% LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE "Customer" = "NASA (CRS)"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such column: CRS
[SQL: SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = NASA (CRS)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [13]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") FROM SPACEXTABLE WHERE "Booster_Version" = "F9 v1.1"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "v1": syntax error
[SQL: SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version = F9 v1.1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [14]:
%sql SELECT DISTINCT "Landing_Outcome" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('Failure (parachute)',),
 ('No attempt',),
 ('Uncontrolled (ocean)',),
 ('Controlled (ocean)',),
 ('Failure (drone ship)',),
 ('Precluded (drone ship)',),
 ('Success (ground pad)',),
 ('Success (drone ship)',),
 ('Success',),
 ('Failure',),
 ('No attempt ',)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [15]:
%sql SELECT MIN("Date") FROM SPACEXTABLE WHERE "Landing_Outcome" = "Success (ground pad)"

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "pad": syntax error
[SQL: SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = Success (ground pad)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [16]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" = "Success (drone ship)" AND "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000;

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near "ship": syntax error
[SQL: SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = Success (drone ship) AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 7




##### List the total number of successful and failure mission outcomes

In [17]:
%sql SELECT COUNT(*) AS success_cnt FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE "Success%";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near ";": syntax error
[SQL: SELECT COUNT(*) AS success_cnt FROM SPACEXTABLE WHERE Landing_Outcome LIKE Success% ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
%sql SELECT COUNT(*) AS failure_cnt FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE "Failure%";

 * sqlite:///my_data1.db
(sqlite3.OperationalError) near ";": syntax error
[SQL: SELECT COUNT(*) AS failure_cnt FROM SPACEXTABLE WHERE Landing_Outcome LIKE Failure% ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [19]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [20]:
%%sql
SELECT 
    substr("Date", 6, 2) AS month,
    "Landing_Outcome",
    "Booster_Version",
    "Launch_Site"
FROM SPACEXTABLE
WHERE substr("Date", 0, 5) = '2015' 
  AND "Landing_Outcome" = 'Failure (drone ship)';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [21]:
%sql SELECT "Landing_Outcome", COUNT(*) AS outcome_cnt FROM SPACEXTABLE WHERE "DATE" BETWEEN "2010-06-04" AND "2017-03-20" GROUP BY "Landing_Outcome"

 * sqlite:///my_data1.db
Done.

[]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>

In [23]:
# Print compact results for all corrected SQL tasks
print("Task 1:\n" + df1.to_string(index=False))
print("\nTask 2:\n" + df2.to_string(index=False))
print("\nTask 3:\n" + df3.to_string(index=False))
print("\nTask 4:\n" + df4.to_string(index=False))
print("\nTask 5:\n" + df5.to_string(index=False))
print("\nTask 6:\n" + (df6.to_string(index=False) if not df6.empty else "<no rows>"))
print("\nTask 7 (success):\n" + df7_success.to_string(index=False))
print("Task 7 (failure):\n" + df7_failure.to_string(index=False))
print("\nTask 8:\n" + df8.to_string(index=False))
print("\nTask 9:\n" + (df9.to_string(index=False) if not df9.empty else "<no rows>"))
print("\nTask 10:\n" + (df10.to_string(index=False) if not df10.empty else "<no rows>"))

Task 1:
 Launch_Site
 CCAFS LC-40
 VAFB SLC-4E
  KSC LC-39A
CCAFS SLC-40

Task 2:
      Date Time (UTC) Booster_Version Launch_Site                                                       Payload  PAYLOAD_MASS__KG_     Orbit        Customer Mission_Outcome     Landing_Outcome
2010-06-04   18:45:00  F9 v1.0  B0003 CCAFS LC-40                          Dragon Spacecraft Qualification Unit                  0       LEO          SpaceX         Success Failure (parachute)
2010-12-08   15:43:00  F9 v1.0  B0004 CCAFS LC-40 Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                  0 LEO (ISS) NASA (COTS) NRO         Success Failure (parachute)
2012-05-22    7:44:00  F9 v1.0  B0005 CCAFS LC-40                                         Dragon demo flight C2                525 LEO (ISS)     NASA (COTS)         Success          No attempt
2012-10-08    0:35:00  F9 v1.0  B0006 CCAFS LC-40                                                  SpaceX CRS-1                500 LEO (ISS)      NASA (CRS)         Success          No attempt
2013-03-01   15:10:00  F9 v1.0  B0007 CCAFS LC-40                                                  SpaceX CRS-2                677 LEO (ISS)      NASA (CRS)         Success          No attempt

Task 3:
 total_mass
      45596

Task 4:
 avg_mass
   2928.4

Task 5:
first_success_ground_pad
              2015-12-22

Task 6:
Booster_Version
    F9 FT B1022
    F9 FT B1026
 F9 FT  B1021.2
 F9 FT  B1031.2

Task 7 (success):
 success_cnt
          61
Task 7 (failure):
 failure_cnt
          10

Task 8:
Booster_Version
  F9 B5 B1048.4
  F9 B5 B1049.4
  F9 B5 B1051.3
  F9 B5 B1056.4
  F9 B5 B1048.5
  F9 B5 B1051.4
  F9 B5 B1049.5
 F9 B5 B1060.2
 F9 B5 B1058.3
  F9 B5 B1051.6
  F9 B5 B1060.3
 F9 B5 B1049.7

Task 9:
month      Landing_Outcome Booster_Version Launch_Site
   01 Failure (drone ship)   F9 v1.1 B1012 CCAFS LC-40
   04 Failure (drone ship)   F9 v1.1 B1015 CCAFS LC-40

Task 10:
       Landing_Outcome  outcome_cnt
            No attempt           10
  Success (drone ship)            5
  Failure (drone ship)            5
  Success (ground pad)            3
    Controlled (ocean)            3
  Uncontrolled (ocean)            2
   Failure (parachute)            2
Precluded (drone ship)            1

In [24]:
# Show Task 1 only
print(df1.to_string(index=False))

 Launch_Site
 CCAFS LC-40
 VAFB SLC-4E
  KSC LC-39A
CCAFS SLC-40

In [25]:
# Show Task 2 only
print(df2.to_string(index=False))

      Date Time (UTC) Booster_Version Launch_Site                                                       Payload  PAYLOAD_MASS__KG_     Orbit        Customer Mission_Outcome     Landing_Outcome
2010-06-04   18:45:00  F9 v1.0  B0003 CCAFS LC-40                          Dragon Spacecraft Qualification Unit                  0       LEO          SpaceX         Success Failure (parachute)
2010-12-08   15:43:00  F9 v1.0  B0004 CCAFS LC-40 Dragon demo flight C1, two CubeSats, barrel of Brouere cheese                  0 LEO (ISS) NASA (COTS) NRO         Success Failure (parachute)
2012-05-22    7:44:00  F9 v1.0  B0005 CCAFS LC-40                                         Dragon demo flight C2                525 LEO (ISS)     NASA (COTS)         Success          No attempt
2012-10-08    0:35:00  F9 v1.0  B0006 CCAFS LC-40                                                  SpaceX CRS-1                500 LEO (ISS)      NASA (CRS)         Success          No attempt
2013-03-01   15:10:00  F9 v1.0  B0007 CCAFS LC-40                                                  SpaceX CRS-2                677 LEO (ISS)      NASA (CRS)         Success          No attempt

In [26]:
# Show Task 3 only
print(df3.to_string(index=False))

 total_mass
      45596

In [27]:
# Show Task 4 only
print(df4.to_string(index=False))

 avg_mass
   2928.4

In [28]:
# Show Task 5 only
print(df5.to_string(index=False))

first_success_ground_pad
              2015-12-22

In [29]:
# Show Task 6 only
print(df6.to_string(index=False))

Booster_Version
    F9 FT B1022
    F9 FT B1026
 F9 FT  B1021.2
 F9 FT  B1031.2

In [30]:
# Show Task 7 only (success, then failure)
print(df7_success.to_string(index=False))
print(df7_failure.to_string(index=False))

 success_cnt
          61
 failure_cnt
          10

In [31]:
# Show Task 8 only
print(df8.to_string(index=False))

Booster_Version
  F9 B5 B1048.4
  F9 B5 B1049.4
  F9 B5 B1051.3
  F9 B5 B1056.4
  F9 B5 B1048.5
  F9 B5 B1051.4
  F9 B5 B1049.5
 F9 B5 B1060.2
 F9 B5 B1058.3
  F9 B5 B1051.6
  F9 B5 B1060.3
 F9 B5 B1049.7

In [32]:
# Show Task 9 only
print(df9.to_string(index=False))

month      Landing_Outcome Booster_Version Launch_Site
   01 Failure (drone ship)   F9 v1.1 B1012 CCAFS LC-40
   04 Failure (drone ship)   F9 v1.1 B1015 CCAFS LC-40

In [33]:
# Show Task 10 only
print(df10.to_string(index=False))

       Landing_Outcome  outcome_cnt
            No attempt           10
  Success (drone ship)            5
  Failure (drone ship)            5
  Success (ground pad)            3
    Controlled (ocean)            3
  Uncontrolled (ocean)            2
   Failure (parachute)            2
Precluded (drone ship)            1